body {
  height: 100%;
  margin: 0;
  font-family: system-ui;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style: none;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 33px;
  margin: 0 0 10px 0;
  font-weight: 500;
}

h3,
legend {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 5px 0;
  white-space: nowrap;
}

form {
  padding: 30px;
  border: 2px solid #a4acad;
  border-radius: 5px;
}

legend {
  margin-bottom: 5px;
  padding-left: 10px;
}

fieldset {
  padding: 0;
  border: none;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid #d3d7d7;
  border-radius: 3px;
  padding-left: 10px;
  outline: none;
  &:focus {
    border-bottom: 2px solid rgba(244, 109, 64, 1);
    box-shadow: 0 0 5pt 2pt rgba(244, 109, 64, 0.07);
  }
}

#root {
  height: 100vh;
}

.buyblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.price {
  font-weight: 700;
  font-size: 20px;
  margin-right: 5px;
  white-space: nowrap;
}

.btn {
  border-radius: 4px;
  font-size: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.btn_orange {
  color: #fff;
  background-color: #f46d40;
  font-weight: 500;
}

.btn_grey {
  color: #a4acad;
  background: none;
  border: 1px solid #a4acad;
  font-size: 20px;
  text-decoration: none;
}

.p_grey {
  color: #a4acad;
}

.active {
  background: rgba(254, 95, 30, 0.05);
  color: #f46d40;
  font-weight: 500;
  font-size: 17px;
}

.enterPoint {
  margin: 65px auto;
  width: 50%;
  &__footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    p {
      margin-right: 5px;
    }
    a {
      color: #f46d40;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
