.cartItem {
  border-top: 1px solid #d3d7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__img {
    display: flex;
    align-items: center;
    height: 120px;
    img {
      width: 120px;
    }
  }
  &__info{
    width: 35%;
  }
  &__count {
    width: 15%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
  }
  &__price{
    text-align: center;
  }
  button {
    width: 25px;
    height: 25px;
  }
  @media screen and (max-width: 600px) {
    &__img {
      margin-right: 5px;
      height: 80px;
      img {
        width: 80px;
      }
    }
  }
  @media screen and (max-width: 500px){
    flex-wrap: wrap;
  }
}
