.cart {
  margin: 30px auto;
  max-width: 820px;
  width: 100%;
  padding: 0 30px;
  &__top {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__bottom {
    &_total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      font-size: 20px;
      span {
        color: #f46d40;
      }
    }
    &_btns {
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 600px) {
    margin: 50px auto;
    padding: 0 20px;
  }
}
