.categories {
  flex-shrink: 0;
  width: 220px;
  padding-top: 15px;
  border-right: 1px solid #d3d7d7;
  &__list {
    padding-inline-start: 0;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    img {
      margin-right: 7px;
    }
    :hover {
      color: #f46d40;
    }
  }
  @media screen and (max-width: 860px){
    width: 180px;
  }
  @media screen and (max-width: 700px){
    width: 60px;
    &__item{
      padding-left: 15px;
      img{
        margin: 0;
      }
    }
    p{
      visibility: hidden; 
    }
  }
}
