.home {
  flex: 1 1 auto;
  width: inherit;
  padding: 32px 30px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 810px){
    &__header{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 575px){
    padding: 17px 15px;
  }
}

.products {
  grid-column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  @media screen and (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


