.header {
  border-bottom: 1px solid #d3d7d7;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    margin-right: 20px;
    min-width: 150px;
    display: flex;
    align-items: center;
  }
  &__phone {
    color: #000;
    margin: 0;
    span {
      color: #f46d40;
    }
  }
  &__actions {
    display: flex;
  }
  &__btn {
    height: 35px;
    width: 60px;
  }
  &__btnCart {
    margin-right: 15px;
    span {
      position: relative;
      top: 6px;
      font-size: 14px;
      color: #fff;
    }
  }
  @media screen and (max-width: 450px) {
    padding: 10px 15px;
    &__phone {
      font-size: 18px;
    }
    &__btn {
      width: 40px;
    }
  }
}
