.emptyCart {
  margin: 75px auto;
  text-align: center;
  padding: 0 20px;
  &__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  img {
    margin-bottom: 20px;
  }
  &__btn{
    margin: 0 auto;
    width: 200px;
  }
}
