.order{
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    padding: 30px 15px 0 15px;
    > div{
        max-width: 220px;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 3px;
        padding: 10px;
    }
    &__user{
        margin-bottom: 10px;
        text-align: center;
        &_title{
            font-weight: 600;
            font-size: 18px;
            padding-left: 20px;
            background: url('../../icons/user.png') 50px 0 / 18px 18px no-repeat;
            margin-bottom: 10px;
        }
        &_text{
            font-size: 12px;
            color: #a4acad;
            margin-bottom: 10px;
        }
        > input{
            max-width: 200px;
            width: 100%;
            border: 1px solid #d3d7d7;
            border-radius: 3px;
            outline: none;
            height: 35px;
            padding-left: 15px;
        }
        ::-webkit-input-placeholder { 
            color:#a4acad;
        }
        :-moz-placeholder {
            color:#a4acad;
        }
        ::-moz-placeholder {
            color:#a4acad;
        }
        :-ms-input-placeholder { 
            color:#a4acad;
        }
        &_login{
            margin-bottom: 10px;
        }
    }
    &__basket{
        > div{
            margin: 0 auto;
            text-align: center;
        }
        &_title{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 3px;
        }
        &_text{
            font-size: 12px;
            color: #a4acad;
        }
    }
    @media screen and (max-width: 1350px) {
        width: 200px;
        &__user_title{
            font-size: 16px;
            background-position: 30px 0;
        }
        &__basket_title{
            font-size: 16px;
        }
    }
}